<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Join Us</title>
</head>
<body>
    {% if user.username %}
        <h2>
            Dear
                {% if male %}
                    Mr
                {% else %}
                    Lady
                {% endif %}
            {{ user }}, You have already done it!</h2>
        <a href="">Wanna create another account?</a>
    {% else %}
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                {{ user_form.as_div }}
                {{ profile_form.as_div }}
            <input type="submit" value="Join">
        </form>
        <a href="{% url 'account:login' %}">Already have an account?</a>
    {% endif %}
</body>
</html>